@font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_800.woff") format("woff");
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_600.woff") format("woff");
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_400.woff") format("woff");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_200.woff") format("woff");
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'IRANSans-web';
    src: url("../fonts/IRANSansWeb_100.woff") format("woff");
    font-weight: 100;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html, body,
  [type='text'], [type='email'], [type='password'],
  textarea, .button, button {
    font-family: IRANSans-web, Tahoma, Arial;
  }
  
  body {
    background-color: #ffffff;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    min-width: 290px;
    font-size: 14px;
    direction: rtl;
    color: #626261;
    text-align: right;
  }
  a{
    color: #626261;
  }
  a:hover{
    text-decoration: none;
  }
  button:focus {
    outline: none;
  }
  .btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
    }
    .ver-middle{
      vertical-align: middle;
    }
  .red-color{
    color: #e54034;
  }
  .font-12{
    font-size: 12px !important;
  }
  .font-13{
    font-size: 13px !important;
  }
  .font-14{
    font-size: 14px !important;
  }
  .font-15{
    font-size: 15px !important;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .modal-toggle{
    border: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 13px;
    padding: 10px;
}
.form-control {
  background-color: #f3f3f3;
}
.submit-btn {
  background: linear-gradient(to left, #b8221f, #e64135);
  box-shadow: 0px 3px 6px #b59d9c;
  padding: 8px 45px;
  display: block;
  margin: 0 auto 15px;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
}
.limit-chars {
  width: 25ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info{
  padding: 20px 0;
  text-align: center;
}
.info img{
  max-width: 150px;
  display: block;
  margin: 5px auto 30px;
}
.info-button {
  display: block;
  margin: 15px auto;
  border-radius: 4px;
  padding: 8px 0;
  font-size: 15px;
  font-weight: 600;
  border: none;
}

.link-button {
  color: #626261;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 5px 5px 7px #dbdbdb, -5px -5px 7px #ffffff;
}
.route {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  display: inline-block;
  padding: 0px 15px;
  margin: 0;
}
.route span{
  font-weight: 400;
}
.fa-star {
  color: #ebb800;
}
.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  padding-bottom: 5px;
}

.title span {
  font-weight: 400;
}
.divider {
  border-bottom: 1px dashed #e0e0e0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  height: 2px;
}
.input.invalid input{
  border: 1px solid #b8221f;
}